body {
    background-color: #2a2e30;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: auto;
    margin: 2% auto;
}

h1 {
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#frame {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    background-color: #575959;
}


#sunset-header {
    max-width: 800px;
    display: block;
}

nav {
    width: 800px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2a2e30;
}

ul {
  position: sticky;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 6px 30px 6px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(211, 231, 250);
    background-color: #2a2e30;
    text-decoration: none;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 200%;
    color: rgb(211, 231, 250);
    text-align: right;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 125%;
    color: rgb(211, 231, 250);
    display: block;
    letter-spacing: 10px;
    text-align: center;
}

img.profile-photo {
  float: left;
  margin: 10px;
  max-height: 100px;
  position: relative;
  top: 0px;
  right: 0px;
}

.portfolio-tiles {
    display: block;
}

div.l-border-box {
    display: block;
    width: 800px;
    border-left: 5px solid #282828;
    padding: 1%;
    text-align: right;
    margin: auto;
    height: auto;
}

/* Form from https://www.w3schools.com/howto/howto_css_contact_form.asp */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: 6px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
* {
    box-sizing: border-box;
  }